<!DOCTYPE html>
<html>

<head>
  <!-- Page Title -->
  <title>CS2102 Project</title>

    <!-- CSS for Styling -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!-- JavaScript for Interactivity -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

  <!--Font Awesome (added because you use icons in your prepend/append)-->
  <link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />

  <!-- For Date and Time Picker -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />

    <!-- For Multiple Selection -->
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>


  <!-- ADDED JavaScript -->
  <script src="javascripts/indexScript.js"></script>
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">CS2102 Grp 47</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <% if(user.isLogIn == true){ %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false"> <%=user.name%> </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <form class="dropdown-item" action="/logout" method="post">
                  <button name="logout" value="logout" style="padding: 0;border: none;background: none;">Logout</button>
                </form>
              <form  class="dropdown-item" method="post" action="/manage" class="inline">
                <button name="logout" value="logout" style="padding: 0;border: none;background: none;">Manage</button>
              </form>

            </div>
          </li>
        </ul>
      <% } else{ %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="login">Login</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false"> Sign Up</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="cSignup">Diner</a>
              <a class="dropdown-item" href="rSignup">Restaurant</a>
            </div>
          </li>
        </ul>
      <% } %>
      

    </div>
  </nav>

  <!-- SLIDER -->
  <section class="slider d-flex align-items-center">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12">
          <div class="slider-title_box">
            <div class="row">
              <div class="col-md-12">
                <div class="slider-content_wrap">
                  <h1>Restaurant Reservations in Singapore</h1>
                  <h5>Let's find the best places to eat and drink.</h5>
                </div>
              </div>
            </div>
            <div class="row d-flex justify-content-center">
              <form id="bookingInfo" role="form"  action="/searchResult" method="post">
                <div class="form-row">
                  <div class="col-md-4 mb-3">
                    <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                      <input type="text"  id="date" name="date" class="form-control datetimepicker-input" data-target="#datetimepicker4" />
                      <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                      </div>
                    </div>

                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="input-group date" id="datetimepicker3" data-target-input="nearest">
                      <input type="text" id="time" name="time"  class="form-control datetimepicker-input" data-target="#datetimepicker3" />
                      <div class="input-group-append" data-target="#datetimepicker3" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="input-group">
                      <input type="text"  id="people" name="people"  class="form-control"
                        placeholder="Number of people" aria-describedby="inputGroupPrepend2" <div
                        class="input-group-append" data-target="#validationDefaultUsername">
                      <div class="input-group-text"><i class="fa fa-user"></i></div>
                    </div>
                  </div>
                </div>
            </div>

            <div class="form-row">
              <div class="col-md-4 mb-3">
                <select id="restaurant" name="restaurant"  class="custom-select">
                    <option value="0">Any Restaurant</option>
                    <% for(var i=0; i<restaurantList.length; i++) { %>
                    <option><%= restaurantList[i].restaurantname%></option>
                    <% } %>
                </select>
              </div>
              <div class="col-md-4 mb-3">
                <select id="location" class="selectpicker show-menu-arrow" data-live-search="true" multiple="multiple"
                  title="Any Location" data-selected-text-format="count>4" data-size="10" data-width="100%"
                  data-hide-disabled="false" data-dropup-auto="false" data-style="btn-inverse" data-mobile="false"
                  data-show-subtext="true">
                        <% for(var i=0; i<areaList.length; i++) { %>
                            <option><%= areaList[i].area%></option>
                        <% } %>
                </select>
                  <input type="hidden" id="locationsHidden" name="location"> </input>


              </div>
              <div class="col-md-4 mb-3">
                <select id="type" name="type" class="custom-select">
                  <option value="0">Any Cuisine</option>
                  <% for(var i=0; i<foodType.length; i++) { %>
                  <option><%= foodType[i].restauranttype%></option>
                  <% } %>
                </select>
              </div>
            </div>
              <button type="submit" id="searchBtn" class="btn btn-primary">Search</button>
          </form>

          <script>
            (function () {
              window.addEventListener('load', function () {
                var forms = [document.getElementById('bookingInfo')];
                var validation = Array.prototype.filter.call(forms, function (form) {
                  form.addEventListener('submit', check, false);
                });
              }, false);
            })();
          </script>

          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </section>
  <!--// SLIDER -->
</body>



<script type="text/javascript">
  var tomorrow = moment().add(1, 'days');
 

  $(function () {
    $('#datetimepicker4').datetimepicker({
      defaultDate: tomorrow,
      format: 'L',
       minDate: tomorrow
    });
  });

   $(function () {
      $('#datetimepicker3').datetimepicker({
        defaultDate: moment(),
        format: 'HH:00'
      });
    });
</script>



</html>